<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<form th:fragment="search" th:action="@{${page.url}}" method="get"
		class="mb-4">
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<label class="col-md-2 col-form-label"><b>Mostrar</b></label>
					<div>
						<select id="size" name="size" th:value="${size}"
							class="form-control" onchange="this.form.submit();">
							<option th:value="5" th:text="5" th:selected="${size}==5"></option>
							<option th:value="10" th:text="10" th:selected="${size}==10"></option>
							<option th:value="25" th:text="25" th:selected="${size}==25"></option>
							<option th:value="50" th:text="50" th:selected="${size}==50"></option>
							<option th:value="100" th:text="100" th:selected="${size}==100"></option>
						</select>
					</div>
					<label class="col-md-2 col-form-label"><b>registros</b></label>
				</div>
			</div>
			<div class="col-md-6">
				<div class="input-group">
					<span class="input-group-addon bi-search" id="basic-addon"></span>
					<input id="term" name="term" type="text" th:value="${term}"
						class="form-control" onchange="this.form.submit();"
						aria-describedby="basic-addon">
				</div>
			</div>
		</div>
	</form>
	<nav th:fragment="nav">
		<ul class="pagination">
			<li class="page-item"
				th:class="${page.first? 'page-item disabled': 'page-item'}"><span
				class="page-link" th:if="${page.first}">Primera</span> <a
				class="page-link" th:if="${not page.first}"
				th:href="@{${page.url}(term=${term},size=${size},page=0)}">Primera</a></li>
			<li class="page-item"
				th:class="${not page.hasPrevious? 'page-item disabled': 'page-item'}">
				<span class="page-link" th:if="${not page.hasPrevious}">&laquo;</span>
				<a class="page-link" th:if="${page.hasPrevious}"
				th:href="@{${page.url}(term=${term},size=${size},page=${page.currentPage-2})}">&laquo;</a>
			</li>
			<li class="page-item" th:each="item : ${page.pages}"
				th:class="${item.current? 'page-item active': 'page-item'}"><span
				class="page-link" th:if="${item.current}" th:text="${item.number}"></span>
				<a class="page-link" th:if="${not item.current}"
				th:href="@{${page.url}(term=${term},size=${size},page=${item.number-1})}"
				th:text="${item.number}"></a></li>
			<li class="page-item"
				th:class="${not page.hasNext? 'page-item disabled': 'page-item'}">
				<span class="page-link" th:if="${not page.hasNext}">&raquo;</span> <a
				class="page-link" th:if="${page.hasNext}"
				th:href="@{${page.url}(term=${term},size=${size},page=${page.currentPage})}">&raquo;</a>
			</li>
			<li class="page-item"
				th:class="${page.last? 'page-item disabled': 'page-item'}"><span
				class="page-link" th:if="${page.last}">&Uacute;ltima</span> <a
				class="page-link" th:if="${not page.last}"
				th:href="@{${page.url}(term=${term},size=${size},page=${page.totalPages-1})}">&Uacute;ltima</a>
			</li>
		</ul>
	</nav>
</body>
</html>